//chris add
$c-pink-200: #FFD8D8 !default;
$c-pink-400: #FFC1C1 !default;
$c-pink-600: #F46D6D !default;
$c-pink-800: #F36060!default;

//
//$gray-200: #EFEFEF !default;
//$gray-700: #777777 !default;
//$gray-800: #4A4A4A !default;
//$gray-900: #303030 !default;